proc my_init_proc { } { echo "Disabling watchdog..." }


source [find interface/jlink.cfg]
transport select jtag
adapter speed 3750

reset_config trst_and_srst

set _CHIPNAME riscv
set _CPUTAPID 0xdeb11001

jtag newtap $_CHIPNAME cpu -irlen 5 -ircapture 0x1 -irmask 0x1f -expected-id $_CPUTAPID
jtag newtap $_CHIPNAME sys -irlen 4 -ircapture 0x05 -irmask 0x0F -enable
    
set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME riscv -endian little -chain-position $_TARGETNAME -coreid 0

# Work-area is a space in RAM used for flash programming
if { [info exists WORKAREASIZE] } {
   set _WORKAREASIZE $WORKAREASIZE
} else {
   set _WORKAREASIZE 0x4000
}

$_TARGETNAME configure -work-area-phys 0x02000000 -work-area-size $_WORKAREASIZE -work-area-backup 0

# flash bank $_CHIPNAME.flash mik32_flash 0x80000000 0 0 16 $_TARGETNAME /home/vzaytsev/work/gitflic/vostopenocd/contrib/loaders/flash/mikron/mik32_amur_init_spifi_read_PY25Q128HA.elf
flash bank $_CHIPNAME.flash mik32_flash 0x80000000 0 0 16 $_TARGETNAME
flash bank $_CHIPNAME.eeprom mik32_eeprom 0x01000000 0 0 16 $_TARGETNAME

riscv.cpu configure -event reset-init my_init_proc
